html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main {
  height: 100%;
  display: flex;
}

.wrapper {
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.mdc-top-app-bar {
  position: static !important;
}

.main-content {
  padding-top: 48px;
}

.mdc-drawer__toolbar-spacer {
  height: 48px !important;
}

.drawer {
  width: inherit;
  transition: width 0.2s ease-in-out 0s;
}

.drawer-collapse {
  width: 60px !important;
}

.collapse {
  flex: 0 0 auto;
  & > i {
    position: absolute;
    right: 20px;
  }
}

@import '@material/theme/_color-palette.scss';

$mdc-theme-primary: #263238;
$mdc-theme-secondary: #0D47A1;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #ffffff;

@import '@material/typography/mdc-typography.scss';
@import '@material/top-app-bar/mdc-top-app-bar.scss';
@import '@material/button/mdc-button.scss';
@import '@material/drawer/mdc-drawer.scss';
@import '@material/list/mdc-list.scss';
@import '@material/menu/mdc-menu.scss';
@import '@material/ripple/mdc-ripple.scss';

.modules {
  @include mdc-list-item-graphic-ink-color(white);
  @include mdc-list-item-primary-text-ink-color(white);
}

.badge[data-count]:after {
  position: absolute;
  content: attr(data-count);
  font-size: 0.625rem;
  padding: .325rem;
  border-radius: 1rem;
  line-height: .75em;
  color: white;
  background: #0D47A1;
  text-align: center;
  min-width: 0.2rem;
  font-weight: bold;
  top: 0.25rem;
  right: 3rem;
}