html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main {
  height: 100%;
}

.main-content {
  padding-top: 48px;
}

.mdc-drawer__toolbar-spacer {
  height: 48px !important;
}

$mdc-theme-primary: #263238;
$mdc-theme-secondary: #0D47A1;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #ffffff;

@import '@material/typography/mdc-typography.scss';
@import '@material/react-top-app-bar/index.scss';
@import '@material/react-material-icon/index.scss';
@import '@material/react-button/index.scss';
@import '@material/drawer/mdc-drawer.scss';
@import '@material/list/mdc-list.scss';
